@import "tailwindcss";

@theme {
  --color-black: #161a24;
  --color-white: #ffffff;
  --color-dark: #292a31;
  --color-light: #979797;
  --color-primary: #ff1cf7;
  --color-secondary: #00f0ff;
  --color-tertiary: #9747ff;

  --font-body: "Inter", sans-serif;
  --font-heading: "Archivo", sans-serif;
  --font-julius: var(--font-julius), "Julius Sans One", sans-serif;

  --animate-hexa-spin: hexa-spin 2s ease-in-out alternate infinite;
}

@property --gradient-color {
  syntax: "<color>";
  initial-value: #00f0ff;
  inherits: false;
}

@property --gradient-color-from {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --gradient-color-via {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --gradient-color-to {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@layer utilities {
  .bg-animated-gradient-primary-to-secondary {
    --gradient-color: var(--color-secondary);
    background: linear-gradient(to right, var(--gradient-color), transparent);
    transition: --gradient-color 300ms ease-in-out;
  }

  .group:hover .bg-animated-gradient-primary-to-secondary {
    --gradient-color: var(--color-primary);
  }

  .bg-animated-gradient-from-transparent {
    --gradient-color-from: transparent;
    --gradient-color-via: transparent;
    --gradient-color-to: transparent;
    background-image: linear-gradient(
      to right,
      var(--gradient-color-from),
      var(--gradient-color-via),
      var(--gradient-color-to)
    );
    transition: --gradient-color-from 300ms ease-in-out,
      --gradient-color-via 300ms ease-in-out,
      --gradient-color-to 300ms ease-in-out;

    &:hover {
      --gradient-color-from: var(--color-secondary);
      --gradient-color-via: var(--color-tertiary);
      --gradient-color-to: var(--color-primary);
    }
  }
}

body {
  font-family: var(--font-body);
}

@keyframes hexa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
